{% extends "base.html" %}
{% block title %}User Profile{% endblock title %}
{% block content %}

<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      
    </div>
    {% include 'messages.html' %}
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">

            <img src="{{userprofile.profile_picture.url}}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;"/>
            <h5 class="my-3">{{user.username}}</h5>
            <p class="text-muted mb-1">{{userprofile.role}}</p>
            <p class="text-muted mb-4">{{userprofile.address_line_1}}</p>
            <div class="d-flex justify-content-center mb-2">
              <a  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary" href='{% url "edit_profile" %}'>Update</a>
              <a  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-danger ms-1" href='{% url "delete" %}'>Delete</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.username}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              
              <div class="col-sm-3">
                <p class="mb-0">Country</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userprofile.country}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userprofile.mobile}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userprofile.address_line_1}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 


{% endblock content %}